.App {
  text-align: center;
  .App-header {
    background-color: #1abc9c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}

#drum-machine {
  border: 5px solid;
  padding: 25px;
}

.drum-pad-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  .drum-pad {
    min-height: 100px;
    min-width: 100px;
    align-content: center;
    background-color: #1abc9c;
  }
  .drum-pad-click {
    background-color: #3498db;
  }
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 320px;
  height: 50px;
  background-color: #3498db;
}